*{
	box-sizing: border-box;;
}
body{
    margin: 0;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #4f4f4f;
}
ul{
	list-style: none;
}
h1,h2,h3,p,ul{
	padding: 0;
	margin: 0;
}
#map{
    position: relative;
    width: 100%;
    height: 100vh;
}
.popup-wrapper{
    position: absolute;
    right: 30px;
    top:60px;
	min-height:500px;
	width: 300px;
	background-color: #fff;
	border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px 3px #ccc;
    z-index:100;
}
.popup-wrapper header{
    display: flex;
    justify-content: space-between;
	padding: 8px 10px;
	background-color: #ff8663;
	color: #fff;
	-webkit-border-radius:;
	-moz-border-radius:;
	border-radius:5px 5px 0 0;
}
.fa-times{
    font-size:16px;
    cursor: pointer;
}
.popup-wrapper h2{
    position: relative;
    padding-left: 15px;
	font-size: 13px;
	font-weight: 400;
}
.popup-wrapper h2:before{
    position: absolute;
    left: 0;
    top:2px;
    content: '\f041';
    color: #fff;
    font-family: fontawesome;
}
.users-review{
    padding: 5px 10px 0;
    height: 220px;
    overflow-y: auto;
}
.users-review h3{
    font-weight: 300;
    font-size:13px;
}
.users-review__list{

}
.users-review__item{
    padding: 20px 0;
}
.user-inputs{
    padding: 0 10px 10px;
}
.user-inputs footer{
    text-align: right;
}
.user-inputs h3{
    padding: 10px 0;
    color: #ff8663;
    border-top: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
input[type="text"],textarea{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 10px;
    border: 1px solid #ccc;
}
textarea{
    resize: none;
}
input[type="submit"]{
    background-color: #ff8663;
    border:none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #FFBCA9;
}
.display-none{
    display: none;
}

input::-webkit-input-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
input:-moz-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
input:-ms-input-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
