*{
	box-sizing: border-box;;
}
body{
    position: relative;
    margin: 0;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #4f4f4f;
}
ul{
	list-style: none;
}
h1,h2,h3,p,ul{
	padding: 0;
	margin: 0;
}
#map{
    width: 100%;
    height: 100vh;
}
.popup-wrapper{
    position: absolute;
	min-height:500px;
	width: 300px;
	background-color: #fff;
	border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px 3px #ccc;
    z-index:100;
}
.popup-wrapper header{
    display: flex;
    justify-content: space-between;
	padding: 8px 10px;
	background-color: #ff8663;
	color: #fff;
	-webkit-border-radius:;
	-moz-border-radius:;
	border-radius:5px 5px 0 0;
}
.fa-times{
    font-size:16px;
    cursor: pointer;
}
.popup-wrapper h2{
    position: relative;
    padding-left: 15px;
	font-size: 13px;
	font-weight: 400;
}
.popup-wrapper h2:before{
    position: absolute;
    left: 0;
    top:2px;
    content: '\f041';
    color: #fff;
    font-family: fontawesome;
}
.users-review{
    padding: 5px 10px 0;
    height: 220px;
    overflow-y: auto;
}
.users-review h3{
    font-weight: 300;
    font-size:13px;
}
.users-review__list{

}
.users-review__item{
    padding: 20px 0;
}
.user-inputs{
    padding: 0 10px 10px;
}
.user-inputs footer{
    text-align: right;
}
.user-inputs h3{
    padding: 10px 0;
    color: #ff8663;
    border-top: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
input[type="text"],textarea{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 10px;
    border: 1px solid #ccc;
}
textarea{
    resize: none;
}
input[type="submit"]{
    background-color: #ff8663;
    border:none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #FFBCA9;
}
.display-none{
    display: none;
}

input::-webkit-input-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
input:-moz-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
input:-ms-input-placeholder {
	color: #a5a5a5;
	font-weight: 300;
}
.github-fork-ribbon {
    width: 12.1em;
    height: 12.1em;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
    font-size: 13px;
    text-decoration: none;
    text-indent: -999999px;
}

.github-fork-ribbon.fixed {
    position: fixed;
}

.github-fork-ribbon:before, .github-fork-ribbon:after {
    /* The right and left classes determine the side we attach our banner to */
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;

    top: 3.23em;
    right: -3.23em;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon:before {
    content: "";

    /* Add a bit of padding to give some substance outside the "stitching" */
    padding: .38em 0;

    /* Set the base colour */
    background-color: #a00;

    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

    /* Add a drop shadow */
    -webkit-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);

    pointer-events: auto;
}

.github-fork-ribbon:after {
    /* Set the text from the title attribute */
    content: attr(title);

    /* Set the text properties */
    color: #fff;
    font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.54em;
    text-decoration: none;
    text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;

    /* Set the layout properties */
    padding: .15em 0;
    margin: .15em 0;

    /* Add "stitching" effect */
    border-width: .08em 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon.left-top, .github-fork-ribbon.left-bottom {
    right: auto;
    left: 0;
}

.github-fork-ribbon.left-bottom, .github-fork-ribbon.right-bottom {
    top: auto;
    bottom: 0;
}

.github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after {
    right: auto;
    left: -3.23em;
}

.github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
    top: auto;
    bottom: 3.23em;
}

.github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}